.options-container {
    display: flex;
    flex-wrap: wrap;
}

.option-button {
    margin: 5px;
    border-radius: 25px;
    padding: 5px;
    border-color: #2898ec;
    background: transparent;
    text-align: center;
    font-size: 0.7rem;
    color: #2898ec;
    /* color: white; */
}

.topics-container {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
}

.topic-tiles {
    margin: 5px;
    border-radius: 5px;
    width: 100%;
    height: 3em;
    border: none;
}

.topic-tiles:hover {
    margin: 5px;
    border-radius: 5px;
    width: 100%;
    height: 3em;
    border: none;
    background-color: #2898ec;
    color: #fff;
}